body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b; 
    color: #e0e0e0; 
}

header {
    background-color: rgb(190, 150, 39); 
    color: #fff; 
    padding: 10px 0; 
    text-align: center;  
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}



#games a {
    text-decoration: underline;
}

#osulink a {
    color: #ff66aa;
}

#osulink a:hover {
    color: #ffa0cb;
}

#r6link a {
    color: #c9c9c9;
}

#r6link a:hover {
    color: #e7e7e7;
}

.highlight {
    color: #ff6600;
    font-weight: bold; 
}



#social-media a {
    color: #64b5f6; 
    text-decoration: underline;
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px; 
    background-size: 20px 20px; 
}

#social-media a:hover {
    color: #bbdefb;
    transition: transform 0.08s;
    transform: scale(1.05);
}

#social-media .discord {
    color: #64b5f6; 
    cursor: pointer; 
    padding-left: 30px; 
    display: flex; 
    align-items: center; 
}

#social-media .discord:hover {
    cursor: pointer;
    color: #bbdefb;
}

.social-media-link {
    background-repeat: no-repeat;
    background-position: left center;
}

.social-media-link img{
    width: 20px;
    width: 20px;
}

.youtube {
    background-image: url('youtube-icon.png'); 
}
.twitch {
    background-image: url('twitch-icon.png'); 
}
.discord {
    background-image: url('discord-icon.png'); 
}
.tiktok {
    background-image: url('tiktok-icon.png');
}



.tooltip {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Initially hidden */
    animation: fadeIn 0.25s ease-in; 
    margin-top: -5px;
    margin-bottom: 5px;
    width: fit-content;
}

.copy-notification {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    display: none; 
    margin-top: -5px;
    width: fit-content;
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; /* Fade in */
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0; /* Fade out */
    }
}


.container {
    display: flex;
    flex-wrap: wrap; /* Allow sections to wrap to the next line */
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1500px;
}

.section-box {
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-basis: calc(25% - 40px);
}

.section-pc{
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 10px;
    flex-basis: calc(50% - 40px);
    margin-bottom: 10px;
}

.section-twitch {
    background-color: #1b1b1b;
    padding: 10px;
    border-radius: 20px;
    flex-basis: calc(100% - 40px);
}

.indented {
    margin-left: 15px; 
}

/* Center larger text */
.section-box h2,
.section-pc h2 {
    text-align: center;
}

.mobile-nav-button {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin: 5px;
}

.mobile-nav-button.open {
    display: none;
}

.in-mobile-nav-button {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin: 5px;
}

.in-mobile-nav-button div {
    width: 35px;
    height: 5px;
    background-color: rgb(190, 150, 39);
}

.mobile-nav text {
    color: #8d8d8d;
}

.mobile-nav-button div {
    width: 35px;
    height: 5px;
    background-color: #333;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100vh;
    background-color: #3a3a3a;
    transition: transform 0.3s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    text-wrap: wrap;
}

.mobile-nav ul {
    top: 50px;
    list-style-type: none;
    padding: 0;
}

.mobile-nav ul li {
    border-bottom: 1px solid #ccc;
}

.mobile-nav ul li a:hover {
    transition: transform 0.08s;
    transform: scale(1.05);
}

.mobile-nav ul li a {
    font-size: 30px;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-align: center;
    top: 100px;
    color: #fff;
}

.polska {
    background-image: linear-gradient(to bottom, white 60%, red 40%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.english {
    background-image: url(uk-small.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.mobile-nav.mobile-nav-open {
    opacity: 1;
    transform: translateX(0);
}



@media (max-width: 768px) {
    .section-box,
    .section-pc {
        flex-basis: calc(100% - 30px); /* Each box takes 100% width minus margins */
    }
    header img{
        width: 200px;
        height: 50px;
    }
    .mobile-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #3a3a3a;
        transition: transform 0.3s ease;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-100%);
    }
}

