body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b; 
    color: #e0e0e0; 
}

header {
    background-color: rgb(190, 150, 39); 
    color: #fff; 
    padding: 10px 0; 
    text-align: center;  
    align-items: center; 
    justify-content: center; 
}

#indexlink a{
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}



#games a {
    text-decoration: underline;
}

#osulink a {
    color: #ff66aa;
}

#osulink a:hover {
    color: #ffa0cb;
}

#r6link a {
    color: #c9c9c9;
}

#r6link a:hover {
    color: #e7e7e7;
}

.highlight {
    color: #ff6600;
    font-weight: bold; 
}



#social-media a {
    color: #64b5f6; 
    text-decoration: underline;
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px; 
    background-size: 20px 20px; 
}

#social-media a:hover {
    color: #bbdefb; 
}

#social-media .discord {
    color: #64b5f6; 
    cursor: pointer; 
    padding-left: 30px; 
    display: flex; 
    align-items: center; 
}

#social-media .discord:hover {
    cursor: pointer;
    color: #bbdefb;
}

.social-media-link {
    background-repeat: no-repeat;
    background-position: left center;
}

.social-media-link img{
    width: 20px;
    width: 20px;
}

.youtube {
    background-image: url('youtube-icon.png'); 
}

.twitch {
    background-image: url('twitch-icon.png'); 
}

.discord {
    background-image: url('discord-icon.png'); 
}




.tooltip {
    position: relative;
    left: 49%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Initially hidden */
    animation: fadeIn 0.25s ease-in; 
}

.copy-notification {
    position: relative;
    left: 49%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; 
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; /* Fade in */
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0; /* Fade out */
    }
}


.container {
    display: flex;
    flex-wrap: wrap; /* Allow sections to wrap to the next line */
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1500px;
}

.section-box {
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    flex-basis: calc(25% - 40px);
}

.section-pc{
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 10px;
    flex-basis: calc(50% - 40px);
    margin-bottom: 10px;
}

.section-twitch{
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: max-content;
}

.indented {
    margin-left: 15px; 
}

/* Center larger text */
.section-box h2,
.section-pc h2 {
    text-align: center;
}

/* Adjust width for smaller screens */
@media (max-width: 600px) {
    .section-box,
    .section-pc {
        flex-basis: calc(100% - 30px); /* Each box takes 100% width minus margins */
    }
}